body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    color: white;

}
.box {
    background-color: #191919;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 12px auto;
    padding: 10px 12px;
    position: absolute;
    
}
input {
background-color: transparent;
outline: none;
width: 220px;
border: 2px solid green;
border-radius: 4px;
padding: 8px;
color: white;

}
button {
    background-color: transparent;
outline: none;
width: 60px;
border: 2px solid green;
border-radius: 2px;
padding: 6px;
color: white;
text-transform: capitalize;

}
    